* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
    display: block;
}



.wrapper {
    margin: 0 auto;
    width: 70%;
}

/*inicio menu*/
.menu {

    display: flex;
    justify-content: space-between;

    position: fixed;
    width: 70%;
    background-color: rgba(255, 255, 255, 0.9);
    top: 0;
    padding: 30px 15px 15px 15px;
}

.menu h1 {
    font-size: 100%;


    & a {
        padding: 10px;
        text-decoration: none;
        color: black
    }
}

.menu ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;


}


.menu li {
    display: block;

    & a {
        padding: 10px;

        text-decoration: none;
        color: black;
    }

}

/* fin menu*/

/*comienzo meet the team*/


.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex article {
    width: 25%;

}

.flex article h3,
h4 {
    text-align: center;

}

.flex article figure {
    background-image: url(../images/annie.jpg);
    background-size: cover;
    width: 250px;
    height: 250px;



}

/*figure div {

    border-left: 150px solid black;
    border-top: 150px solid transparent;
    border-bottom: 150px solid transparent;
    border-right: 10px solid transparent;
    width: 0;
    height: 0;
    background-color: rgba(255, 255, 255, 0.5);
    transform: rotate(270deg);
}*/

figure div {
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 100%;
    position: relative;
}

.cuadrado {
    position: absolute;
    width: 65%;
    height: 65%;
    top: 20%;
    left: 20%;

    background-color: black;
    transform: rotate(45deg);
}